main{
    margin-top: 50px; 
}
main h1{
    text-align: center;
    color: #4996da;
    margin-bottom: 30px;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.videos{
    border-top: 1px gray solid;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 50px;
    display: flex;
    align-items: center;
    height: 400px;
}

.videos h1{
    margin-left: 30px;
}
 video{
    width: 700px;
    height: 400px;
     border: 1px black solid;
}
