main{
    margin-top: 50px; 
}
main h1{
    text-align: center;
    color: #4996da;
    margin-bottom: 30px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

section{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: auto;
}

section div{
    width: 350px;
    margin: 10px 20px;
    border:1px #4996da  solid;
    background-color: #5ba6e7;
    height: 400px;
}

section h3{
    color: white;
    letter-spacing: 1px;
    margin: 5px;
    font-size: 22px;
}

section div img{
    width: 350px;
    height: 200px;
}

section p{
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 18px;
}
.all{
    width: 2000px;
    margin: 0 auto;
}