main {
    text-align: center;
}
.imgDiv{
    padding: 5px;
    background-color: #4996da;
    margin-bottom: 25px;
}
.imgDiv img{
    width: 70%;
}

.sector1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

 .sect1 {
    width: 500px;
    padding-top: 40px;
    margin-right: 60px;
}

.sect1 h1{
     color:#2382FF;
     margin-bottom: 40px;
     font-size: 30px;
     letter-spacing: 1px;
}

.sect1 p{
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
}

.sect2 {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect2 div{
    margin: 5px;
}

.flexImg div{
    border:1px black solid ;
    width: 250px;
    height: 200px;
    align-self: center;
}
.flexImg a{
    text-decoration: none;
    
}
.flexImg a .workouts{
    background-image: url(../images/background.png);
    background-size: cover;
}

.flexImg a .Costum{
    background-image: url(../images/costum.png);
    background-size: cover;
}

.flexImg a .food{
    background-image: url(../images/FatsFood.jpg);
    background-size: cover;
}

.flexImg a .profile{
    background-image: url(../images/profile.png);
    background-size: cover;
}

.flexImg a div{
    opacity: 0.8;
}

.flexImg a div:hover{
    opacity: 1;
}

.flexImg h1{
    color: #2382FF;
    text-align: right;
    margin-top: 170px;
}

.sector2{
    border-top: 1px gray solid;
    padding: 30px 0;
}

.sector2 h1{
    margin-right: 1000px;
    margin-bottom: 10px;
    font-size: 30px;
}

.sector2 .sec1{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white; 
    border: 2px #41819A solid; 
}

.sec1 div{
    width: 300px;
    margin: 0 50px;  
}

.sec1 div video{
    width: 300px;
    height: 200px;
    outline: none;
    object-fit: inherit;
    cursor: pointer;
}

.sec1 div img{
    width: 300px;
    height: 200px;
    outline: none;
    cursor: pointer;
}
.sec1 div p{
    font-size: 16px;
    text-align: left;
}


.secCostum{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px 5px;
    border: 2px #274957 solid;
}
.sector2 .secCostum p{
    text-align: left;
    font-size: 24px;
    padding: 5px;
}
