*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border-bottom: 5px #41819A solid;
    height: 50px;
    padding: 5px;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
header .logo img{
    width: 100px;
    margin-right: 10px;
}
header .logo h1{
    color: #2382FF;
    font-size: 25px;
}

main{
    background-color: #4996da;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 200px 0;
}

main div{
    text-align: center;
}
main h1{
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 50px;
}

main a{
    width: 70px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: 3px #34738b solid;
    padding: 5px;
    text-decoration: none;
    color: white; 
}

main a:hover{
    border-color: #356477;
    background-color: #356477;
    color: white;
}


main form{
    text-align: center;
    background-color: white;
    padding: 50px;
    border: 1px white solid;
    border-top-left-radius: 40px ;
    border-bottom-right-radius: 40px ;
}

main form h1{
    color: #116d92;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
}


section  input[type = 'text'], input[type = 'password'], input[type = 'date'], input[type = 'email']{
        border: 3px solid #116d92;
        padding: 7px;
        font-size: medium;
        margin: 10px;
        outline: none;
        width: 240px;
        cursor: pointer;
        margin-top: 20px;
        letter-spacing: 1px;
        background-color: white;
}

 input[type = 'text']:focus, input[type = 'password']:focus, input[type = 'date']:focus, input[type = 'email']:focus, input[type = 'submit']:focus{
    border-color: #5597b1;

}
input[type = "submit"]{
    border: 3px solid #116d92;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    padding: 3px;
}

 input[type = "submit"]:hover{
    color: white;
    background-color: #116d92;
}

.container{
    background-color: #4996da;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
